*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
	background-image: url(image/qwe.jpg);
	background-repeat: no-repeat;
	background-size: cover;	
	background-position: fixed;
	font-family: "Century Gothic", sans-serif;
  font-size:1.2em;
}

.areas a{
  color: rgb(8, 6, 31);
  background: rgb(7, 241, 7);
	text-decoration: none;
	border-radius: 5px;
	padding: 2%;
}

.areas a:hover{
	background: #616161; color: #ffffff;
	}

header{
	padding: 2% 10%;
	height: 80%;
}

.top{
	background-color:;
	border-radius: 10px;
}

#logo{
	width: 15%;
	height: 15%;
	display: inline-block;
	vertical-align: middle;
}

h1 {
	font-size: calc(100vw * 0.048);
	display: inline-block;
	vertical-align: middle;
}

span:nth-child(4n) { color:hsl(50, 75%, 55%); text-shadow:1px 1px hsl(50, 75%, 45%), 2px 2px hsl(50, 45%, 45%), 3px 3px hsl(50, 45%, 45%), 4px 4px hsl(50, 75%, 45%); }
span:nth-child(4n-1) { color:hsl(135, 35%, 55%); text-shadow:1px 1px hsl(135, 35%, 45%), 2px 2px hsl(135, 35%, 45%), 3px 3px hsl(135, 35%, 45%), 4px 4px hsl(135, 35%, 45%); }
span:nth-child(4n-2) { color:hsl(155, 35%, 60%); text-shadow:1px 1px hsl(155, 25%, 50%), 2px 2px hsl(155, 25%, 50%), 3px 3px hsl(155, 25%, 50%), 4px 4px hsl(140, 25%, 50%); }
span:nth-child(4n-3) { color:hsl(30, 65%, 60%); text-shadow:1px 1px hsl(30, 45%, 50%), 2px 2px hsl(30, 45%, 50%), 3px 3px hsl(30, 45%, 50%), 4px 4px hsl(30, 45%, 50%); 
}

.areas {
	font-size: calc(100vw * 0.025);
	width: 23%;
	margin-left: 10%;
	border-radius: 5px;
	list-style-type: none;
	background-color:grey; 
	opacity: 0.7;
	padding-bottom: -3%;
	display:inline-block;
	
  }
  .areas_h{
		text-align: center;
		background-color:lightgreen; 
		border-radius: 5px 5px 0 0;
		margin-bottom: 10%;
	}
	
	.areas_2{
		padding-top: 2%;
		padding-left: 5%;
		margin-top: 5%;
		
	}

.menu {
	width: 56.5%;
	vertical-align: top;
	background-color:grey;
	opacity: 0.9;
	border-radius: 5px;
	display:inline-block;
	
}

.main_button{
	display: inline-block;
}

.main_button_1{
	width: 28%;
}

.main_button_2{
	width: 34%;
}

.main_button{
	
	background-color:#01DF01 ;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	font-size: calc(100vw * 0.02);
	color:rgb(27, 29, 29);
	font-weight: 700;
	margin-left: 1.9%;
	border-radius: 5px;
}

.main_button:hover{
	background-color: #BCA9F5;
}
	
	.slider{
		
	}

	.content{
		font-size: calc(100vw * 0.025);
		margin-left: 33.5%;
		width: 56.5%;
		margin-top: 2%;
	}


	/**/
	.sport{margin:9%;}
	.sport1{display: inline-block;
          width: 29%;
          height: 90%;
          border: 2px solid white;
          overflow: hidden;
          border-radius: 5px;
          padding: 1%;
          margin-bottom: 1%;
          background:white;
          opacity:0.9;
	    }
    .name{color:green}
     .info{
           width: 55%;
           margin-left: 10px;
	       }
	  .img-news{ 
				width: 90%; height:40%;
				margin-top: 10%;
				margin-left: 10%;
				margin-right: 10%;
	            }